<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
      <td mat-cell *matCellDef="let element">{{ element.date }}</td>
    </ng-container>
  
    <ng-container matColumnDef="usuarios">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad de Usuarios</th>
      <td mat-cell *matCellDef="let element">{{ element.usuarios }}</td>
    </ng-container>
  
    <ng-container matColumnDef="innovadores">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad de Innovadores</th>
      <td mat-cell *matCellDef="let element">{{ element.innovadores }}</td>
    </ng-container>
  
    <ng-container matColumnDef="ganancias">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ganancias</th>
      <td mat-cell *matCellDef="let element">{{ element.ganancias | currency }}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator  [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons ></mat-paginator>
  