<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
    <td mat-cell *matCellDef="let element">{{ element.date }}</td>
  </ng-container>

  <ng-container matColumnDef="usuarios">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Cantidad de Usuarios
    </th>
    <td class="c"mat-cell *matCellDef="let element">{{ element.users }}</td>
  </ng-container>

  <ng-container matColumnDef="emprendedores">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Cantidad de Emprendedores
    </th>
    <td class="c" mat-cell *matCellDef="let element">{{ element.entres }}</td>
  </ng-container>

  <ng-container matColumnDef="porcentaje">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Porcentajes de usuarios Emprendedores
    </th>
    <td class="c" mat-cell *matCellDef="let element">
      {{ element.porc }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator
  [pageSizeOptions]="[10, 15, 20]"
  showFirstLastButtons
></mat-paginator>
<button mat-button color="white" class="btn" (click)="addReport()">
  Agregar Reporte Actual <mat-icon>add</mat-icon>
</button>