<mat-toolbar class="navbar" color="primary">
  <span>Trabajando Market</span>
  <span class="spacer"></span>
  <button (click)="logout()" mat-icon-button>
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<div class="main bg">
  <div class="container">
    <h1>Panel Administracion</h1>
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="Lista de Usuarios">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="button">
              <th mat-header-cell *matHeaderCellDef>Bloquear</th>
              <td mat-cell *matCellDef="let element">
                <div class="x">
                  <button mat-icon-button color="primary" (click)="openDialog(element.id)">
                    <mat-icon>block</mat-icon>
                  </button>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
              <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="last_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
              <td mat-cell *matCellDef="let element">{{ element.last_name }}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="birth_date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Fecha de nacimiento
              </th>
              <td mat-cell *matCellDef="let element">{{ element.birth_date }}</td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo</th>
              <td mat-cell *matCellDef="let element">{{ element.email }}</td>
            </ng-container>

            <ng-container matColumnDef="gender">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Genero</th>
              <td mat-cell *matCellDef="let element">{{ element.gender }}</td>
            </ng-container>

            <ng-container matColumnDef="region">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Region</th>
              <td mat-cell *matCellDef="let element">
                {{ element.region }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <mat-paginator
            [pageSizeOptions]="[10, 15, 20]"
            showFirstLastButtons
          ></mat-paginator>
        </div>
      </mat-tab>
      <mat-tab label="Lista de Emprendedores">
        <app-admindashboardentrepreneurview></app-admindashboardentrepreneurview>
      </mat-tab>
      <mat-tab label="Reportes">
        <app-reportsview></app-reportsview>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<app-footer></app-footer>