<div class="main">
  <nav class="mat-elevation-z6">
    <ul>
      <li><a>Marketing Digital</a></li>
      <li><a>Edicion de Video</a></li>
      <li><a>Desarrollo Web</a></li>
      <li><a>Diseño Grafico</a></li>
    </ul>
  </nav>
  <div class="banner">
    <div>
      <h1>TRABAJANDO MARKET</h1>
      <h2>Encuentra el servico que buscabas.</h2>
      <button routerLink="/home/services" mat-flat-button color="primary">
        Ver Servicios
      </button>
    </div>
  </div>
  <section class="container">
    <div class="serviceslider">
      <div class="row between-xs middle-xs">
        <div class="col">
          <h2>Servicios mas valorados</h2>
        </div>
        <div class="col">
          <a routerLink="/home/services">Ver todos los servicios<mat-icon>chevron_right</mat-icon></a>
        </div>
      </div>
      <app-serviceslider></app-serviceslider>
    </div>
    <div class="serviceslider">
      <div class="row between-xs middle-xs">
        <div class="col">
          <h2>Servicios mas vistos</h2>
        </div>
        <div class="col">
          <a routerLink="/home/services">Ver todos los servicios<mat-icon>chevron_right</mat-icon></a>
        </div>
      </div>
      <app-serviceslider></app-serviceslider>
    </div>
  </section>
</div>
