.spacer{
  flex: 1 1 auto;
}
.videoResponsive {
  width: 100%;
}
.abs {
  position: absolute;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 2.5em;
  margin-top: 4em;
}
.toolb {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.4) 0%,
    rgba(9, 9, 121, 0.4) 35%,
    rgba(0, 212, 255, 0.4) 100%
  );
  padding: 1em;
  margin-top: 1em;
  line-height: 1em;
}
.margen {
  font-size: 3em;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  color: rgb(0, 0, 0);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.4) 0%,
    rgba(9, 9, 121, 0.4) 35%,
    rgba(0, 212, 255, 0.4) 100%
  );
  line-height: 1em;
}
@media only screen and (max-width: 600px) {
  .abs {
    position: absolute;
    font-size: 1em;
    margin-top: 0.2em;
  }
  .responsive {
    width: 90%;
    margin: auto;
  }
  .toolb {
    margin-top: 0;
    padding: 0.3em;
    font-size: 1em;
    line-height: 1em;
  }
}
