<div class="container">
  <div class="row center-xs">
    <div class="col-xs-12">
      <video
        class="videoResponsive"
        loop
        autoplay
        muted
        preload="auto"
        src="https://sg.fiverrcdn.com/packages_lp/cover_video.mp4 "
      ></video>
    </div>
    <div class="col-xs-12 abs">
      <h1>Trabaja a tu manera</h1>
      <h2>Tu traes la habilidad. Que ganar dinero sea Facil!</h2>
      <button
        mat-flat-button
        color="primary"
        class="button"
        (click)="openDialog()"
      >
        Conviértete en Emprendedor
      </button>
      <div class="row center-xs toolb">
        <div class="col-xs-4">
          <span
            >Grandes negocios
            <p>Cada 4 segundos</p></span
          >
        </div>
        <div class="col-xs-4">
          <span>Transacciones 50M+</span>
        </div>
        <div class="col-xs-4">
          <span
            >Rango de precios
            <p>$5 - $10,000</p></span
          >
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row center-xs responsive">
    <div class="col-xs-12">
      <div class="margen">
        <span>PUEDES SER PARTE DE ESTA GRAN COMUNIDAD</span>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 cards">
      <mat-card class="">
        <img mat-card-image src="http://via.placeholder.com/200" />
        <mat-card-content>
          <h1>Desarrolladores Web</h1>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-xs-12 col-md-4 cards">
      <mat-card class="">
        <img mat-card-image src="http://via.placeholder.com/200" />
        <mat-card-content>
          <h1>Editores de Video</h1>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-xs-12 col-md-4 cards">
      <mat-card class="">
        <img mat-card-image src="http://via.placeholder.com/200" />
        <mat-card-content>
          <h1>Diseñador Grafico</h1>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
