<div class="conteiner">
    <div class="row center-xs">
      <div class="col-xs-4">
        <mat-icon class="icon"> account_circle </mat-icon>
        <h1>Recuperar Contraseña</h1>
        
        <mat-form-field class="margen-mat-form-field1" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="" />
          <mat-hint>Ej:ana@trabajando.cl</mat-hint>
        </mat-form-field>
        <button class="btn" mat-raised-button color="primary">Recuperar Contraseña</button>
      </div>
    </div>
</div>
