.pass {
  width: 100%;
}
.name{
  width: 100%;
  padding-top:10px ;
}
.container1 {
  height: 150px;
  display: flex;
  flex-wrap: wrap;
}

.input {
  width: 100%;
}

.btn {
  text-align: center;
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;

  background-color: #1681c9;
  color: white;
}

.title {
  text-align: left;
  display: flex;
  align-content: left;
  margin-right: 30px;
}
.x {
  height: 700px;
}

.fg {
  margin-bottom: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.navbar {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 24%,
    rgba(0, 212, 255, 1) 100%
  );
  .title {
    font-size: 1.6em;
  }
}
.check{
  display: flex;
  padding-bottom: 1rem;
}

.bg{
  width:100%;
  background:rgb(244, 244, 244);
  background: linear-gradient(
    180deg,
    rgba(244, 244, 244, 1) 43%,
    rgba(152, 175, 250, 1) 78%
  );
  padding-bottom: 2em;
}