<swiper
  [slidesPerView]="1"
  [spaceBetween]="50"
  [navigation]="true"
  [pagination]="{ clickable: true }"
  [thumbs]="{ swiper: thumbsSwiper }"
>
  <ng-template swiperSlide
    ><img
      src="http://placekitten.com/600/300"
      style="width: 100%; border-radius: 4px"
      alt=""
  /></ng-template>
  <ng-template swiperSlide
    ><img
      src="http://placekitten.com/600/300"
      style="width: 100%; border-radius: 4px"
      alt=""
  /></ng-template>
  <ng-template swiperSlide
    ><img
      src="http://placekitten.com/600/300"
      style="width: 100%; border-radius: 4px"
      alt=""
  /></ng-template>
  <ng-template swiperSlide
    ><img
      src="http://placekitten.com/600/300"
      style="width: 100%; border-radius: 4px"
      alt=""
  /></ng-template>
  <ng-template swiperSlide
    ><img
      src="http://placekitten.com/600/300"
      style="width: 100%; border-radius: 4px"
      alt=""
  /></ng-template>
  <ng-template swiperSlide
    ><img
      src="http://placekitten.com/600/300"
      style="width: 100%; border-radius: 4px"
      alt=""
  /></ng-template>
</swiper>
<swiper
  [slidesPerView]="4"
  [spaceBetween]="4"
  (swiper)="setThumbsSwiper($event)"
  [watchSlidesVisibility]="true"
  [watchSlidesProgress]="true"
>
  <ng-template swiperSlide
    ><img
      src="http://placekitten.com/600/300"
      style="width: 100%; border-radius: 4px"
      alt=""
  /></ng-template>
  <ng-template swiperSlide
    ><img
      src="http://placekitten.com/600/300"
      style="width: 100%; border-radius: 4px"
      alt=""
  /></ng-template>
  <ng-template swiperSlide
    ><img
      src="http://placekitten.com/600/300"
      style="width: 100%; border-radius: 4px"
      alt=""
  /></ng-template>
  <ng-template swiperSlide
    ><img
      src="http://placekitten.com/600/300"
      style="width: 100%; border-radius: 4px"
      alt=""
  /></ng-template>
  <ng-template swiperSlide
    ><img
      src="http://placekitten.com/600/300"
      style="width: 100%; border-radius: 4px"
      alt=""
  /></ng-template>
  <ng-template swiperSlide
    ><img
      src="http://placekitten.com/600/300"
      style="width: 100%; border-radius: 4px"
      alt=""
  /></ng-template>
</swiper>
