<section class="container main">
  <span class="mat-h3 breadcrumbs">
    <a routerLink="/home/">Home</a>
    <mat-icon>navigate_next</mat-icon>
    <a routerLink="/home/services">Servicios</a>
    <mat-icon>navigate_next</mat-icon>
    <a>Contratar Servicio</a>
  </span>
  <div class="row cennter-xs">
    <div class="col-xs-12 col-lg-8 colservice">
      <mat-card>
        <h1>{{service.name}}</h1>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ename}}</mat-card-title>
          <mat-card-subtitle>{{categoryStr()}}</mat-card-subtitle>
        </mat-card-header>
        <div class="divimg">
          <app-slider class="slider" [images]="service.images"></app-slider>
        </div>
        <div class="servicedescription">
          <h1>Descripción</h1>
          <p>
            {{service.description}}
          </p>
        </div>
      </mat-card>
    </div>
    <div class="col-xs-12 col-lg-4">
      <mat-card>
        <mat-card-content>
          <h1>Informacion General</h1>
          <mat-divider></mat-divider>
          <div class="row">
            <div class="col servicedata">
              <div class="row between-xs middle-xs">
                <div class="col">
                  <h2 class="mid"><mat-icon>category</mat-icon> Categoria:</h2>
                </div>
                <div class="col">
                  <h2>{{categoryStr()}}</h2>
                </div>
              </div>
              <div class="row between-xs middle-xs">
                <div class="col">
                  <h2 class="mid">
                    <mat-icon>access_time_filled</mat-icon> Plazo:
                  </h2>
                </div>
                <div class="col">
                  <h2>{{service.deliveryTerm}} Dias</h2>
                </div>
              </div>
              <div class="row between-xs middle-xs">
                <div class="col">
                  <h2 class="mid">
                    <mat-icon>trending_up</mat-icon> Puntacion:
                  </h2>
                </div>
                <div class="col">
                  <h2 class="mid">{{service.rating}} <mat-icon>star</mat-icon></h2>
                </div>
              </div>
              <div class="row between-xs middle-xs">
                <div class="col">
                  <h2 class="mid"><mat-icon>payments</mat-icon> Precio:</h2>
                </div>
                <div class="col">
                  <h2>{{service.price}} CLP</h2>
                </div>
              </div>
              <button class="btn" mat-raised-button color="primary">
                Contratar Servicio
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
