<div class="container">
  <mat-horizontal-stepper linear [labelPosition]="'bottom'">
    <div class="flex">
      <div>
        <mat-step [editable]="true">
          <ng-template matStepLabel>
            <p>Detalle del servicio</p>
          </ng-template>
          <div class="row center-xs">
            <form class="form">
              <div class="col">
                <mat-form-field appearance="fill" class="full-width">
                  <mat-label>Nombre del servicio</mat-label>
                  <input
                    [(ngModel)]="name"
                    name="name"
                    required
                    matInput
                    placeholder="Ej. Programacion Web"
                  />
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="fill" class="full-width">
                  <mat-label>Descripcion</mat-label>
                  <textarea
                    [(ngModel)]="description"
                    name="description"
                    required
                    matInput
                    placeholder="Ej. Realizare.."
                  ></textarea>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="fill" class="full-width">
                  <mat-label>Insertar precio</mat-label>
                  <input
                    type="number"
                    [(ngModel)]="price"
                    name="price"
                    required
                    matInput
                    placeholder="Ej. 510"
                  />
                  <span matSuffix>CLP</span>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field
                  class="margen-mat-form-field1"
                  appearance="fill"
                >
                  <mat-label>Categoria</mat-label>
                  <mat-select required [(ngModel)]="category" name="category">
                    <mat-option value="WEBDEVELOPMENT"
                      >Desarrollo Web</mat-option
                    >
                    <mat-option value="DIGITALMARKETING"
                      >Marketing Digital</mat-option
                    >
                    <mat-option value="GRAPHICDESING"
                      >Diseño Grafico</mat-option
                    >
                    <mat-option value="VIDEOEDITING"
                      >Edicion de Video</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="fill" class="full-width">
                  <mat-label>Plazo de entrega</mat-label>
                  <input
                    min="1"
                    type="number"
                    [(ngModel)]="deliveryTerm"
                    name="deliveryTerm"
                    required
                    matInput
                    placeholder="Ej. 5"
                  />
                  <span matSuffix>Dias</span>
                </mat-form-field>
              </div>
            </form>
          </div>
          <div class="row center-xs">
            <button mat-raised-button color="primary" matStepperNext>
              Siguiente
            </button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>
            <p>Publicar Imagen (opcional)</p>
          </ng-template>
          <div class="row center-xs">
            <mat-card class="card">
              <mat-card-header>
                <mat-icon aria-hidden="false" aria-label="icon"
                  >imagen</mat-icon
                >
                <mat-card-title>Insertar imagen</mat-card-title>
              </mat-card-header>
              <img mat-card-image src="http://via.placeholder.com/300x300" />
              <mat-card-actions class="card">
                <button mat-button>
                  <mat-icon aria-hidden="false" aria-label="icon"
                    >upload</mat-icon
                  >
                  Subir Imagen
                </button>
                <button mat-button>
                  <mat-icon aria-hidden="false" aria-label="icon"
                    >delete</mat-icon
                  >
                  Eliminar Imagen
                </button>
              </mat-card-actions>
            </mat-card>

            <div class="col-xs-12">
              <button mat-button matStepperPrevious>Atras</button>
              <button mat-raised-button color="primary" matStepperNext>
                Siguiente
              </button>
            </div>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>
            <p>Confrimar publicacion</p>
          </ng-template>
          <div class="row center-xs">
            <div class="col-xs-12">
              <div>
                <h2>Resumen del Servicio</h2>
                <h3>Nombre Servicio: {{ name }}</h3>
                <h3>Descripcion: {{ description }}</h3>
                <h3>Categoria: {{ category }}</h3>
                <h3>Tiempo de Entrega: {{ deliveryTerm }}</h3>
                <h3>Precio: {{ price }}</h3>
                <button mat-button matStepperPrevious>Atras</button>
                <button
                  routerLink="/home/dashboard/myservices"
                  mat-raised-button
                  color="primary"
                  (click)="addService()"
                >
                  Confirmar
                </button>
              </div>
            </div>
          </div>
        </mat-step>
      </div>
    </div>
  </mat-horizontal-stepper>
</div>
