<mat-toolbar class="navbar" color="primary">
  <button routerLink="/home" mat-button aria-label="home">
    <span class="title">TRABAJANDO MARKET</span>
  </button>
  <span class="spacer"></span>
  <button mat-button color="white" routerLink="/login">
    Iniciar Sesion <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>
<div class="row1">
  <div class="banner">
    <h1 class="titulo">¡ Somos Trabajando Market !</h1>
    <p class="subtitulo">La mejor opcion para publicitar tu trabajo</p>
  </div>
</div>
<div class="container">
  <div class="row around-xs cards">
    <div class="col">
      <div class="box">
        <mat-card class="card-efect card">
          <div>
            <div>
              <img class="img2" src="../../../../assets/cardfoto1.png" />
            </div>
            <mat-card-content>
              <h2>Potencia tu Emprendimiento</h2>
              <p>
                Gracias a nuestra página gana visibilidad para tu trabajo, empresa o cualquier otro servicio que quieras ofrecer
              </p>
            </mat-card-content>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="col">
      <div class="box">
        <mat-card class="card-efect cardcenter card">
          <div>
            <mat-card-content>
              <i class="fas fa-users"></i>
              <h2>Quienes somos</h2>
              <p>
                Somos Trabajando Market una empresa dedicada a proporcionar un
                sin fin de servicios ofrecidos por nuestros emprendedores.
              </p>
            </mat-card-content>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="col">
      <div class="box">
        <mat-card class="card-efect card">
          <div>
            <mat-card-content>
              <h2>Nuestro objetivo</h2>
              <p>
                A través de nuestra página puedes facilitar la búsqueda,
                contratación y la publicación de algún servicio, dando una
                garantía de confiabilidad, ya que cada emprendedor esta
                verificado por nuestro equipo.
              </p>
            </mat-card-content>
            <div>
              <img class="img2" src="../../../../assets/cardfoto2.png"/>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="row2">
    <h1 class="titulo1">Unete a esta gran comunidad!</h1>
    <button class="uwu" mat-raised-button color="primary">
      <a class="btn-login" routerLink="/signup">Regístrate</a>
    </button>
  </div>
  <div class="row">
    <h1 class="titulo2">Estos son nuestro mercado</h1>
  </div>
  <div class="row center-xs imgs">
    <div class="col-xs-6 col-md-3">
      <div class="box card-efect img">
        <img
          class="img1"
          src="https://i.imgur.com/6shYLw3.png"
          alt="taro lapizes"
        />
        <h2>Diseño Grafico</h2>
      </div>
    </div>
    <div class="col-xs-6 col-md-3 img">
      <div class="box card-efect">
        <img
          class="img1"
          src="https://i.imgur.com/d7Tx1kv.png"
          alt="taro lapizes"
        />
        <h2>Marketing Digital</h2>
      </div>
    </div>
    <div class="col-xs-6 col-md-3 img">
      <div class="box card-efect">
        <img
          class="img1"
          src="https://i.imgur.com/reY4YrC.png"
          alt="taro lapizes"
        />
        <h2>Video y Animacion</h2>
      </div>
    </div>
    <div class="col-xs-6 col-md-3 img">
      <div class="box card-efect">
        <img
          class="img1"
          src="https://i.imgur.com/g2HdTaL.png"
          alt="taro lapizes"
        />
        <h2>Programacion y Tecnologia</h2>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
