<div class="conteiner">
  <div class="row center-xs">
    <div class="col-xs-4">
      <mat-icon class="icon"> account_circle </mat-icon>
      <h1>Ingresar</h1>

      <mat-form-field class="margen-mat-form-field1" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email" name="email" placeholder="" />
        <mat-hint>Ej:ana@trabajando.cl</mat-hint>
      </mat-form-field>
      <mat-form-field class="margen-mat-form-field1" appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          [(ngModel)]="password"
          name="password"
          [type]="hide ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <section class="example-section">
        <mat-checkbox class="example-margin" color="primary">
          Recuerdame
        </mat-checkbox>
      </section>
      <button (click)="login()" class="btn" mat-raised-button color="primary">
        Iniciar Sesion
      </button>
      <p class="text-margin">
        <a routerLink="/signup">¿No tienes cuenta? Regístrate Aquí</a>
      </p>
      <p class="last-text">
        <a routerLink="/forgotpassword">Recuperar Contraseña</a>
      </p>
    </div>
  </div>
</div>
