<div>
  <div class="card">
    <mat-card class="example-card">
      <div mat-card-image>
        <div class="imgdiv" matRipple routerLink="/home/hireservice">
          <img
            (click)="changeSelectedService()"
            [src]="service.images[0]"
          />
        </div>
      </div>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ service.name }}</mat-card-title>
        <mat-card-subtitle>{{ categoryStr() }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ service.description }}<br /></p>
        <span
          ><b>Precio: {{ service.price }} CLP</b></span
        >
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <div class="row middle-xs around-xs">
          <span class="rate">
            {{ service.rating }}
            <mat-icon
              class="staricon"
              aria-hidden="false"
              aria-label="star icon"
              >star</mat-icon
            >
          </span>
          <button
            (click)="changeSelectedService()"
            routerLink="/home/hireservice"
            routerLinkActive="active"
            mat-flat-button
            color="primary"
          >
            <mat-icon>read_more</mat-icon> Ver mas
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
