<div class="row  dialog">
  <div class="col-xs-12">
    <mat-dialog-content>
      <h2>Convertirse en Emprendedor</h2>
      <mat-divider></mat-divider>
      <br />
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Descripcion Personal</mat-label>
        <textarea matInput placeholder="Yo soy..."></textarea>
      </mat-form-field>
      <div class="row">
        <mat-form-field>
          <mat-label>Tipo de servicio</mat-label>
          <mat-chip-list #chipList aria-label="Tipo selection">
            <mat-chip
              *ngFor="let tipo of tipos"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(tipo)"
            >
              {{ tipo.name }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Nuevo Servicio..."
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)"
            />
          </mat-chip-list>
        </mat-form-field>
      </div>
    </mat-dialog-content>
    <div class="col-xs-12">
      <div mat-dialog-actions>
        <button mat-flat-button color="" matDialogClose>Cancelar</button>
        <button
          mat-flat-button
          color="primary"
          cdkFocusInitial
          matDialogClose
          routerLink="/home/dashboard/myservices"
        >
          Continuar
        </button>
      </div>
    </div>
  </div>
</div>
